!!!
%html
  %head
    %title rudolph9
    %style{ type: 'text/css'}
      body{background-color:#999;}
      p{font-family:"courier";text-align:center;}
  %body
    %p
      <br>
      What you have found is something relative.
      <br>
      A component of the existance which defines us all.
      <br><br>
      This is a mirage.